# Import external tls certificates
(trusted_tls) {
    tls /certs/{$TS_DOMAIN}/fullchain.cer /certs/{$TS_DOMAIN}/{$TS_DOMAIN}.key
}

# AdGuard Home
agh.{$TS_DOMAIN}, adguard.{$TS_DOMAIN} {
	reverse_proxy host.containers.internal:8080
	import trusted_tls
}
agh.{$LOCAL_DOMAIN}, adguard.{$LOCAL_DOMAIN} {
	reverse_proxy host.containers.internal:8080
	tls internal
}

# Syncthing
st.{$TS_DOMAIN}, syncthing.{$TS_DOMAIN} {
	reverse_proxy host.containers.internal:8384
	import trusted_tls
}
st.{$LOCAL_DOMAIN}, syncthing.{$LOCAL_DOMAIN} {
	reverse_proxy host.containers.internal:8384
	tls internal
}

# MAFL (home page)
hm.{$TS_DOMAIN}, home.{$TS_DOMAIN} {
	reverse_proxy host.containers.internal:3000
	import trusted_tls
}
hm.{$LOCAL_DOMAIN}, home.{$LOCAL_DOMAIN} {
	reverse_proxy host.containers.internal:3000
	tls internal
}

# Soulseek
ss.{$TS_DOMAIN}, slsk.{$TS_DOMAIN} {
	reverse_proxy host.containers.internal:5030
	import trusted_tls
}
ss.{$LOCAL_DOMAIN}, slsk.{$LOCAL_DOMAIN} {
	reverse_proxy host.containers.internal:5030
	tls internal
}

# Navidrome
nv.{$TS_DOMAIN}, navidrome.{$TS_DOMAIN} {
	reverse_proxy host.containers.internal:4533
	import trusted_tls
}
nv.{$LOCAL_DOMAIN}, navidrome.{$LOCAL_DOMAIN} {
	reverse_proxy host.containers.internal:4533
	tls internal
}

# Mikochi (file browser)
mk.{$TS_DOMAIN}, mikochi.{$TS_DOMAIN} {
	reverse_proxy host.containers.internal:8000
	import trusted_tls
}
mk.{$LOCAL_DOMAIN}, mikochi.{$LOCAL_DOMAIN} {
	reverse_proxy host.containers.internal:8000
	tls internal
}

# Ytptube (yt-dlp web ui)
yt.{$TS_DOMAIN}, ytptube.{$TS_DOMAIN} {
	reverse_proxy host.containers.internal:8081
	import trusted_tls
}
yt.{$LOCAL_DOMAIN}, ytptube.{$LOCAL_DOMAIN} {
	reverse_proxy host.containers.internal:8081
	tls internal
}
