# Import external tls certificates
(trusted_tls) {
    tls /certs/{$TS_DOMAIN}/fullchain.cer /certs/{$TS_DOMAIN}/{$TS_DOMAIN}.key
}

# AdGuard Home
agh.{$TS_DOMAIN}, adguard.{$TS_DOMAIN} {
	reverse_proxy host.containers.internal:8080
	import trusted_tls
}
agh.{$LOCAL_DOMAIN}, adguard.{$LOCAL_DOMAIN} {
	reverse_proxy host.containers.internal:8080
	tls internal
}

# Syncthing
st.{$TS_DOMAIN}, syncthing.{$TS_DOMAIN} {
	reverse_proxy host.containers.internal:8384
	import trusted_tls
}
st.{$LOCAL_DOMAIN}, syncthing.{$LOCAL_DOMAIN} {
	reverse_proxy host.containers.internal:8384
	tls internal
}

# MAFL (home page)
hm.{$TS_DOMAIN}, home.{$TS_DOMAIN} {
	reverse_proxy host.containers.internal:3000
	import trusted_tls
}
hm.{$LOCAL_DOMAIN}, home.{$LOCAL_DOMAIN} {
	reverse_proxy host.containers.internal:3000
	tls internal
}

# Soulseek
ss.{$TS_DOMAIN}, slsk.{$TS_DOMAIN} {
	reverse_proxy host.containers.internal:5030
	import trusted_tls
}
ss.{$LOCAL_DOMAIN}, slsk.{$LOCAL_DOMAIN} {
	reverse_proxy host.containers.internal:5030
	tls internal
}

# Navidrome
nv.{$TS_DOMAIN}, navidrome.{$TS_DOMAIN} {
	reverse_proxy host.containers.internal:4533
	import trusted_tls
}
nv.{$LOCAL_DOMAIN}, navidrome.{$LOCAL_DOMAIN} {
	reverse_proxy host.containers.internal:4533
	tls internal
}

# Mikochi (file browser)
mk.{$TS_DOMAIN}, mikochi.{$TS_DOMAIN} {
	reverse_proxy host.containers.internal:8000
	import trusted_tls
}
mk.{$LOCAL_DOMAIN}, mikochi.{$LOCAL_DOMAIN} {
	reverse_proxy host.containers.internal:8000
	tls internal
}

# Ytptube (yt-dlp web ui)
yt.{$TS_DOMAIN}, ytptube.{$TS_DOMAIN} {
	reverse_proxy host.containers.internal:8081
	import trusted_tls
}
yt.{$LOCAL_DOMAIN}, ytptube.{$LOCAL_DOMAIN} {
	reverse_proxy host.containers.internal:8081
	tls internal
}

# Qbittorrent
qb.{$TS_DOMAIN}, qbittorrent.{$TS_DOMAIN} {
	reverse_proxy host.containers.internal:8099
	import trusted_tls
}
qb.{$LOCAL_DOMAIN}, qbittorrent.{$LOCAL_DOMAIN} {
	reverse_proxy host.containers.internal:8099
	tls internal
}

# Jackett
jk.{$TS_DOMAIN}, jackett.{$TS_DOMAIN} {
	reverse_proxy host.containers.internal:9117
	import trusted_tls
}
jk.{$LOCAL_DOMAIN}, jackett.{$LOCAL_DOMAIN} {
	reverse_proxy host.containers.internal:9117
	tls internal
}

# Jellyfin
jf.{$TS_DOMAIN}, jellyfin.{$TS_DOMAIN} {
	reverse_proxy host.containers.internal:8096
	import trusted_tls
}
jf.{$LOCAl_DOMAIN}, jellyfin.{$LOCAL_DOMAIN} {
	reverse_proxy host.containers.internal:8096
	tls internal
}

# Calibre
calibre-desktop.{$TS_DOMAIN} {
	reverse_proxy host.containers.internal:8018
	import trusted_tls
}
calibre-desktop.{$LOCAL_DOMAIN} {
	reverse_proxy host.containers.internal:8018
	tls internal
}
cl.{$TS_DOMAIN}, calibre.{$TS_DOMAIN} {
	reverse_proxy host.containers.internal:8028
	import trusted_tls
}
cl.{$LOCAL_DOMAIN}, calibre.{$LOCAL_DOMAIN} {
	reverse_proxy host.containers.internal:8028
	tls internal
}

# Audiobookshelf
ab.{$TS_DOMAIN}, audiobookshelf.{$TS_DOMAIN} {
	reverse_proxy host.containers.internal:13378
	import trusted_tls
}
ab.{$LOCAL_DOMAIN}, audiobookshelf.{$LOCAL_DOMAIN} {
	reverse_proxy host.containers.internal:13378
	tls internal
}
