# AdGuard Home dashboard
agh.{$LOCAL_DOMAIN}, agh.{$TS_DOMAIN}, adguard.{$LOCAL_DOMAIN}, adguard.{$TS_DOMAIN} {
	reverse_proxy host.containers.internal:8080
	tls internal
}
# Syncthing WebUI
st.{$LOCAL_DOMAIN}, st.{$TS_DOMAIN}, syncthing.{$LOCAL_DOMAIN}, syncthing.{$TS_DOMAIN} {
	reverse_proxy host.containers.internal:8384
	tls internal
}
# MAFL Homepage
hm.{$LOCAL_DOMAIN}, hm.{$TS_DOMAIN}, home.{$LOCAL_DOMAIN}, home.{$TS_DOMAIN} {
	reverse_proxy host.containers.internal:3000
	tls internal
}
# SLSK WebUI
ss.{$LOCAL_DOMAIN}, ss.{$TS_DOMAIN}, slsk.{$LOCAL_DOMAIN}, slsk.{TS_DOMAIN} {
	reverse_proxy host.containers.internal:5030
	tls internal
}
