MIKOCHI_USERNAME=
MIKOCHI_PASSWORD=
YTP_USERNAME=
YTP_PASSWORD=
TZ=
CALIBRE_USERNAME=
CALIBRE_PASSWORD=
FRESHRSS_DEFAULT_USER=
FRESHRSS_ADMIN_API_PASSWORD=
FRESHRSS_ADMIN_EMAIL=
FRESHRSS_ADMIN_PASSWORD=
FRESHRSS_DEFAULT_USER=
