services:
  navidrome:
    image: docker.io/deluan/navidrome:latest
    restart: unless-stopped
    ports:
      - 4533:4533
    volumes:
      - navidrome_data:/data
      - /media/bulk/music/library:/music:ro
    environment:
      - ND_ENABLEINSIGHTSCOLLECTOR=false

  mikochi:
    image: docker.io/zer0tonin/mikochi:latest
    restart: unless-stopped
    ports:
      - 8000:8080
    volumes:
      - /media/bulk:/data
    environment:
      - DATA_DIR=/data
      - USERNAME=${MIKOCHI_USERNAME:?Please provide the mikochi username!}
      - PASSWORD=${MIKOCHI_PASSWORD:?Please provide the mikochi password!}

  ytptube:
    image: docker.io/arabcoders/ytptube:latest
    container_name: ytptube
    restart: unless-stopped
    user: 0:0
    ports:
      - 8081:8081
    volumes:
      - ytptube_config:/config:rw
      - /media/bulk/videos:/downloads:rw
    tmpfs:
      - /tmp
    environment:
      - YTP_AUTH_USERNAME=${YTP_USERNAME:?Please provide the ytptube username!}
      - YTP_AUTH_PASSWORD=${YTP_PASSWORD:?Please provide the ytptube password!}

  jellyfin:
    image: docker.io/jellyfin/jellyfin:latest
    container_name: jellyfin
    restart: unless-stopped
    ports:
      - 8096:8096/tcp
    volumes:
      - jellyfin_config:/config
      - jellyfin_cache:/cache
      - /media/bulk/movies:/movies:ro
      - /media/bulk/shows:/shows:ro
      - /media/bulk/music/library:/music:ro

volumes:
  navidrome_data:
  ytptube_config:
  jellyfin_config:
  jellyfin_cache:
