services:
  navidrome:
    image: docker.io/deluan/navidrome:latest
    restart: unless-stopped
    ports:
      - 4533:4533
    volumes:
      - navidrome_data:/data
      - /media/bulk/music/library:/music:ro
    environment:
      - ND_ENABLEINSIGHTSCOLLECTOR=false

  mikochi:
    image: docker.io/zer0tonin/mikochi:latest
    restart: unless-stopped
    ports:
      - 8000:8080
    volumes:
      - /media/bulk:/data:rw
    environment:
      - DATA_DIR=/data
      - USERNAME=${MIKOCHI_USERNAME:?Please provide the mikochi username!}
      - PASSWORD=${MIKOCHI_PASSWORD:?Please provide the mikochi password!}

  ytptube:
    image: docker.io/arabcoders/ytptube:latest
    container_name: ytptube
    restart: unless-stopped
    user: 0:0
    ports:
      - 8081:8081
    volumes:
      - ytptube_config:/config:rw
      - /media/bulk/videos:/downloads:rw
    tmpfs:
      - /tmp
    environment:
      - YTP_AUTH_USERNAME=${YTP_USERNAME:?Please provide the ytptube username!}
      - YTP_AUTH_PASSWORD=${YTP_PASSWORD:?Please provide the ytptube password!}

  jellyfin:
    image: docker.io/jellyfin/jellyfin:latest
    container_name: jellyfin
    restart: unless-stopped
    ports:
      - 8096:8096/tcp
    volumes:
      - jellyfin_config:/config
      - jellyfin_cache:/cache
      - /media/bulk/movies:/movies:ro
      - /media/bulk/shows:/shows:ro
      - /media/bulk/music/library:/music:ro

  calibre:
    image: docker.io/linuxserver/calibre:latest
    container_name: calibre
    restart: unless-stopped
    ports:
      - 8018:8080
      - 8028:8081
    volumes:
      - calibre_config:/config
      - /media/bulk/books/import:/import:rw
      - /media/bulk/books/library:/books:rw
    environment:
      - PUID=0
      - GUID=0
      - TZ=${TZ:?Please provide the timezone!}
      - CUSTOM_USER=${CALIBRE_USERNAME:?Please provide the calibre username!}
      - PASSWORD=${CALIBRE_PASSWORD:?Please provide the calibre password!}

  audiobookshelf:
    image: docker.io/advplyr/audiobookshelf:latest
    container_name: audiobookshelf
    restart: unless-stopped
    ports:
      - 13378:80
    volumes:
      - audiobookshelf_config:/config
      - /media/bulk/audiobooks/library:/audiobooks:rw
      - /media/bulk/audiobooks/podcasts:/podcasts:rw
      - /media/bulk/audiobooks/metadata:/metadata:rw

  commafeed:
    image: docker.io/athou/commafeed:latest-h2
    container_name: commafeed
    restart: unless-stopped
    ports:
      - 8077:8082
    volumes:
      - commafeed_data:/commafeed/data
    deploy:
      resources:
        limits:
          memory: 256M

volumes:
  navidrome_data:
  ytptube_config:
  jellyfin_config:
  jellyfin_cache:
  calibre_config:
  audiobookshelf_config:
  commafeed_data:
