services:
  gluetun_p2p:
    image: docker.io/qmcgaw/gluetun:v3
    container_name: gluetun_p2p
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - ${SLSKD_FWD_PORT}:${SLSKD_FWD_PORT}/tcp
      - 5030:5030 # slskd
      - ${QBITTORRENT_FWD_PORT}:${QBITTORRENT_FWD_PORT}/tcp
      - ${QBITTORRENT_FWD_PORT}:${QBITTORRENT_FWD_PORT}/udp
      - 8099:8080 # qbittorrent
      - 9117:9117 # jackett
      - 8191:8191 # flaresolverr
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - gluetun_p2p_data:/gluetun
    environment:
      - VPN_SERVICE_PROVIDER=airvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_MTU=1400
      - TZ=${TZ:?Please provide the timezone!}
      - UPDATER_PERIOD=24h
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY:?Please provide the wireguard private key!}
      - WIREGUARD_PRESHARED_KEY=${WIREGUARD_PRESHARED_KEY:?Please provide the wireguard preshared key!}
      - WIREGUARD_ADDRESSES=${WIREGUARD_ADDRESSES:?Please provide the wireguard addresses!}
      - FIREWALL_VPN_INPUT_PORTS=${SLSKD_FWD_PORT:?Please provide the slskd forwarded port!},${QBITTORRENT_FWD_PORT:?Please provide the qbittorrent forwarded port!}
      
  slskd:
    image: docker.io/slskd/slskd:latest
    restart: unless-stopped
    network_mode: "service:gluetun_p2p"
    volumes:
      - slskd_data:/app/data:rw
      - slskd_scripts:/app/scripts:rw
      - /media/bulk/music/library:/music:ro
      - /media/bulk/music/downloads:/app/downloads:rw
      - /media/bulk/music/incomplete:/app/incomplete:rw
    environment:
      - SLSKD_REMOTE_CONFIGURATION=true
      - "SLSKD_SHARED_DIR=/music"
      - SLSKD_SLSK_USERNAME=${SLSKD_SLSK_USERNAME:?Please provide your soulseek username!!!}
      - SLSKD_SLSK_PASSWORD=${SLSKD_SLSK_PASSWORD:?Please provide your soulseek user password!!!}
      - SLSKD_USERNAME=${SLSKD_USERNAME:?Please provide your soulseek webui username!!!}
      - SLSKD_PASSWORD=${SLSKD_PASSWORD:?Please provide your soulseek webui password!!!}
      - SLSKD_SLSK_LISTEN_PORT=${SLSKD_FWD_PORT}
    depends_on:
      gluetun_p2p:
        condition: service_healthy

  qbittorrent:
    image: docker.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: unless-stopped
    network_mode: "service:gluetun_p2p"
    environment:
      - PUID=0
      - PGID=0
      - TZ=${TZ}
      - WEBUI_PORT=8080
      - TORRENTING_PORT=${QBITTORRENT_FWD_PORT}
    volumes:
      - qbittorrent_data:/config
      - /media/bulk:/data
    depends_on:
      gluetun_p2p:
        condition: service_healthy

  jackett:
    image: docker.io/linuxserver/jackett:latest
    container_name: jackett
    restart: unless-stopped
    network_mode: "service:gluetun_p2p"
    volumes:
      - jackett_data:/config
      - /media/bulk/torrents/in:/torrents
    environment:
      - PUID=0
      - GUID=0
      - TZ=${TZ}
      - AUTO_UPDATE=true

  flaresolverr:
    image: docker.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    restart: unless-stopped
    network_mode: "service:gluetun_p2p"
    environment:
      - LOG_LEVEL=info
    
volumes:
  gluetun_p2p_data:
  slskd_data:
  slskd_scripts:
  qbittorrent_data:
  jackett_data:
